<div class="sidebar">
  <div class="server-management">
    <div class="add-server" {{action 'addServer'}}>
      <div class="rounded large">+</div>
      <span>Add Server</span>
    </div>
    <div class="remove-server" {{action 'removeLastServer'}}>
      <div class="rounded large">-</div>
      <span>Destroy</span>
    </div>
  </div>

  <div class="app-listing">
    <div class="header">
      Available Apps
    </div>
    {{#each app in apps}}
      <div {{bind-attr class=":app app.id"}}>
        {{app.name}}
        <div class="buttons">
          <div class="remove">
            <div class="rounded" {{action 'removeLastApp' app}}>-</div>
            <div {{bind-attr class=":rounded app.color"}} {{action 'addApp' app}}>+</div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<div class="server-canvas">
  <h1>Server Canvas</h1>
  {{#unless servers.length}}
    You have no servers! Add one.
  {{/unless}}
  {{#each server in servers}}
    <div {{bind-attr class=":server server.inUse:active:inactive server.app.id"}}>
      {{#if server.inUse}}
        {{#each instance in server.appInstances}}
          <div {{bind-attr class=":app app.id"}}>
            <div class="initials">{{instance.app.abbreviation}}</div>
            <div class="type">{{instance.app.name}}</div>
            <div class="add-time">{{instance.started}}</div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  {{/each}}
</div>
